body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container{
    display: inline-block;
    width: 900px;
    margin-left: calc(50% - 450px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    margin-top: 20px;
}

.logo{
    float: left;
    margin-left: 5%;
    margin-top: calc(23px - 0.5em);
    color: black;
    font-size: 28px;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1em;
    text-decoration: none;
}

span{
    font-weight: bold;
}

.menu{
    float:right;
}

.menu-item{
    text-decoration: none;
    color: #8A8A8A;
    line-height: 1em;
    margin-right: 10px;
    display: inline-block;
}

.button{
    color: #fff;
    background-color: #5F17F5;
    padding: 0.7em 1.5em;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
    display: inline-block;
    user-select: none;
}

.logo:hover,
.menu-item:hover{
    text-decoration: underline;
}

.button:hover{
    box-shadow: 0 0 4px 2px #000;
    text-decoration: none;
}

.left-column{
    float:left;
    width: 35%;
    margin-left: 5%;
    margin-top: 60px;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: #3D355E;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5E5E5E;
    margin-bottom: 20px;
}

.main-button{
    padding: 0.9em 2em;
}

.right-column{
    float:left;
    width: 48%;
    margin-left: 5%;
    margin-top: 20px;
    user-select: none;
}